*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 45px 0;
  background-color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 5px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.field {
  margin-bottom: 35px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
  width: auto;
}

.checkbox input {
  width: auto;
  margin-right: 10px;
}
.checkbox span {
  width: auto;
  user-select: none;
}

.word-search {
  display: flex;
  justify-content: center;
}

.help {
  display: block;
  color: #626262;
  margin-top: 5px;
}

ul li {
  margin: 5px;
}

footer {
  color: #626262;
  text-align: center;
  margin-top: 50px;
}
